* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
  color: white;
  height: 100vh;
  position: relative;
}
nav {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10vw;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #00a8c7;
  padding: 0.8rem 1rem;
  display: block;
  text-align: left;
  
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  color: black;
  z-index: 1;
  padding: 1rem 0 1rem 0;
}

.dropdown:hover {
  background-color: white;
  
}

.dropdown:hover .dropdownbtn {
  color:#00a8c7;
}
section {
  height: 100vh;
  width: 100vw;
}
footer {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-width: 10vh;
  margin: auto;
  background: #00a8c7;
  justify-content: center;
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
.container {
  background-image: url("./img/hackerman.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  padding-top: 50rem;
  text-align: center;
  padding-bottom: 5rem;
}
section img {
  width: 48vw;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
section p {
 width: 48vw;
 padding-left: 2.5rem;
 padding-right: 2.5rem;
}
.right {
  float: right;
}
.left {
  float: left;
}
header {
  text-align: center;
}
section header {
  padding-top: 4rem;
  padding-bottom: 4rem;
}