@font-face {
    font-family: "Lustra Bold";
    src: url("Lustra_Bold.otf") format("opentype");
    }
* {font-family: 'Lustra Bold', cursive;}
body {
    color: white;
    background-color: black;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: rgb(0, 217, 255);
    left: 0;
    text-align: right;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 183, 255);
    left: 0;
    text-align: center;
    padding: 20px;
}
h1,h2,h3,h4,h5,h6 {
    text-align: center;
}
h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    padding: 5px;
}
#hack {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.container {
    position: relative;
}
.centered {
    text-align: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
    font-size: 250%;
}
.flex {
    display: flex;
    max-height: 205px;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.flex img {
    max-width: 50%;
    object-fit: contain;
    padding: 10px;
}
.block {
    display: flex;
    flex-flow: column;
}

.flex p {
    font-size: 12px;
    padding: 10px;
    max-width: 50%;
}
.dropdown:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: white;
    color: #00d9ff;
    position: relative;
}

.dropdown .menu {position: absolute; opacity:0; height: 0px; transition: 0.4s; z-index: 0;}

.dropdown:hover .menu {
    height: 70px;
    opacity:1;
    width: 200px;
    background-color: white;
    top: 60px;
    right: 0px;
}

.menu {
    display: flex;
    flex-flow: column;
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}

.menu a{
    color: #00d9ff !important;
    padding-left: 5px;
}

.menu a:hover{
    background-color: #e9e9e9 !important;
}

.nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
}
.nav a 
{
    padding-right: 10px;
    text-decoration: none;
    color: white;
    padding-left: 7.5;
    padding-right: 7.5;
}