html {
    font-size: 62.5%;
}
.container {
    position: relative;
    width: 120rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20rem;
    gap: 100px;
}
.container:last-child {
    flex-direction: row-reverse;
}
.block1 {
    height: 20rem;
    width: 20rem;
    background-color: #0822f8;
}
.block2 {
    height: 20rem;
    width: 20rem;
    background-color: #000;
}
.block3 {
    height: 20rem;
    width: 20rem;
    background-color: #fe0b00;
}
.block4 {
    height: 20rem;
    width: 20rem;
    background-color: #007e1c;
}